@{
    ViewData["Title"] = "Ошибка доступа";
}

<div class="container">
    <h1>В доступе отказано</h1>

    <p>
        <a asp-controller="Main" asp-action="Index">
            На главную
        </a>
    </p>
</div>
