
<div class="container">
    <h2>@Model.Surname @Model.Name</h2>
    <p>
        Информация о сотруднике:
        <ul>
            <li>Возраст: @Model.Age</li>
            <li>Должность: @Model.Position</li>
        </ul>
    </p>
    <p><a asp-controller="Main" asp-action="Personal">&#60;&#60;Back</a></p>
</div>

