<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Main" asp-action="Index" class="active">Home</a></li>
        <li class="dropdown">
            <a asp-controller="Main" asp-action="Shop">Shop<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Catalog" asp-action="Index">Products</a></li>
                <li><a asp-controller="Main" asp-action="ProductDetails">Product Details</a></li>
                <li><a asp-controller="Main" asp-action="Checkout">Checkout</a></li>
                <li><a asp-controller="Main" asp-action="Cart">Cart</a></li>
                <li><a asp-controller="Main" asp-action="Login">Login</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a asp-controller="Main" asp-action="Blog">Blog<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="Main" asp-action="Blog">Blog List</a></li>
                <li><a asp-controller="Main" asp-action="BlogSingle">Blog Single</a></li>
            </ul>
        </li>
        <li><a href="404.html">404</a></li>
        <li><a asp-controller="Main" asp-action="ContactUs">Contact</a></li>
        <li><a asp-controller="Persons" asp-action="Index">Сотрудники</a></li>
    </ul>
</div>